# ------------------------
# Project-specific ignores
# ------------------------
app-mongo-data/
vars.yml
vault.yml

# ------------------------
# Vagrant-related
# ------------------------
.vagrant/
*.box

# ------------------------
# # Ansible-related
# # ------------------------
# *.retry
# inventory.ini
# *.log

# ------------------------
# Python cache (if any)
# ------------------------
__pycache__/
*.pyc

# ------------------------
# Editor/IDE specific
# ------------------------
.vscode/
.idea/
*.swp
*.swo
*~

# ------------------------
# Environment files
# ------------------------
.env

# ------------------------
# SSH keys
# ------------------------
*.pem
*.key

# ------------------------
# Docker-related
# ------------------------
*.tar
*.img
docker-desktop-4.31.0-amd64.deb
*.deb

# ------------------------
# System files
# ------------------------
.DS_Store
Thumbs.db


# Ignore AWS config and CLI files
aws/
awscliv2.zip

# Ignore VirtualBox log files
2025-08-09-13-26-06.019-VBoxSVC-630045.log
2025-08-09-13-26-07.004-VBoxHeadless-630725.log



# Kubernetes configs/folders
k8s*

# IAM policies
iam-policy*

# EKS scripts/files
eks_*
eks-*

# Very long cloudformation file/command
'cloudformation describe-stack-events   --stack-name eksctl-ecommerce-cluster-nodegroup-standard-workers   --region us-east-1   --query StackEvents[?ResourceStatus==`CREATE_FAILED`].[LogicalResourceId,ResourceStatusReason]   --output text'

# VBox log files
*.log