apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: ecommerce
type: Opaque
stringData:
  uri: "mongodb+srv://flozy:flozy@cluster1.ksklg53.mongodb.net/ecommerce?retryWrites=true&w=majority"